body {

	background-color:black;
}

#msg {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}
button {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: 18px;
  background: white;
}

.audio-controls {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}
.audio-controls button {
  margin: 0px 5px;
}
canvas {
  margin-top: 10px;
  background-color: black;
}
select {
  height: 25px;
  margin: 0px 5px;
}
a {
  margin-left: 20px;
}
.app {
  text-align: center;
  padding-top: 20px;
}