<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Online Radio</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form action="/admin" method="post">
  <div id="container">
  <div id="header">
    <ul class="menu">
      <li class="btn_1"><a href="/">home</a></li>
      <li class="line"></li>
      <li class="btn_2"><a href="/">about</a></li>
    </ul>
    <img src="/static/images/logo.jpg" alt="" name="logo" width="244" height="52" id="logo"/> </div>
  <div id="content">
    
  <div id="content">
    <div id="leftPan">
      <div id="welcome">
        <h2></h2>
        <img src="/static/images/img_welcome.jpg" width="126" height="77" alt="" />
          <p><span class="headline">play songs seperated songs with visualization</span> </p>
          <button type="submit" class="btn">Click here</button>
        <div class="clear"></div>
      </div>
      <div id="about">
        <h2></h2>
        <img src="/static/images/img_about.jpg" width="126" height="77" alt="" />
        <p><span class="headline">Sing Your Heart out.. It's FREE</span> HIT THE DANCE FLOOR I GOT ALL I NEED NO I AIN'T GOT CASH I AIN'T GOT CASH</p>
        <div class="clear"></div>
      </div>
    </div>
    <div id="rightPan">
      <div id="shows">
        <h2></h2>
        <p><span class="headline">MUSIC MUSIC MUSIC</span> “Without music, life would be a mistake” “Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.”</p>

      </div>
    </div>
    <div class="clear" id="end">

    </div>
  </div>
</div>
  </div>
</form>

  <form action="/upload" method="post">

          <center>
          <p><span class="headline">upload songs for seperation into music and vocals</span> </p>
          <button type="submit" class="btn">Click here</button>
          </center>
  </form>

<form action="/ad" method="post">

          <center>
          <p><span class="headline">Mixing</span> </p>
          <button type="submit" class="btn">Click here</button>
          </center>
  </form>


</body>
</html>
